@tailwind base;
@tailwind components;
@tailwind utilities;

/* General */
body {
  color: var(--text);
}

@layer base {
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  /* Typography */
  /* Amiko : regular, semibold, bold */
  /* Neuton : bold, extrabold */

  h1 {
    @apply text-4xl font-headline font-bold;
  }

  h2 {
    @apply text-3xl font-headline font-extrabold;
  }

  h3 {
    @apply text-2xl font-headline font-bold;
  }

  h4 {
    @apply text-xl font-text font-bold;
  }

  h5 {
    @apply text-lg font-text font-bold;
  }

  h6 {
    @apply text-base font-text font-bold;
  }

  p,
  li,
  span {
    @apply text-base font-text font-normal;
  }

  a {
    @apply text-sm font-headline font-bold no-underline;
  }
  label {
    @apply font-text font-bold leading-6;
  }
  input:not([type="radio"]):not([type="checkbox"]),
  select {
    @apply border border-clr-black px-3 py-1.5 text-clr-black focus:outline-none focus:ring focus:ring-clr-primary focus:border-clr-primary sm:text-sm sm:leading-6 duration-300;
  }
}

@layer components {
  .modal {
    @apply w-2/6 h-3/5 absolute top-1/4 left-1/2 -translate-x-1/2 -translate-y-1/4 border-2 border-clr-black shadow-2rb p-4 flex flex-col gap-y-4 items-center;
  }

  .toasts-container {
    @apply flex flex-col-reverse gap-y-3 z-50 fixed top-4 right-4 mt-8;
  }
  .toast {
    @apply flex items-center bg-clr-white border rounded border-clr-black shadow-lb p-4 relative overflow-hidden w-80;
  }
  .toast-open {
    @apply animate-slide-in;
  }
  .toast-close {
    @apply animate-slide-out;
  }
  .toast-message {
    @apply ml-3 text-clr-black text-sm font-text font-semibold;
  }
  .toast-progress {
    @apply absolute bottom-0 left-0 w-full h-1 bg-clr-grey;
  }
  .toast-progress-bar {
    @apply h-full animate-progress-bar;
  }

  .dropdown {
    @apply border rounded border-clr-black bg-clr-white shadow-rb w-[50rem] h-60 px-7 py-5 flex flex-col gap-1 flex-wrap;
  }
  .dropdown-item {
    @apply text-2xl font-headline font-bold mb-3;
  }

  .btn {
    @apply px-4 py-2 min-w-32 border-clr-black border-2 rounded shadow-rb bg-clr-white text-clr-black -translate-x-1 -translate-y-1 transition hover:shadow-none hover:translate-x-0 hover:translate-y-0;
  }
  .btn-disabled {
    @apply px-4 py-2 min-w-32 border-clr-grey border-2 rounded bg-clr-white text-clr-grey;
  }
  .btn-primary {
    @apply px-4 py-2 min-w-32 border-clr-black border-2 rounded shadow-rb bg-clr-primary text-clr-white -translate-x-1 -translate-y-1 transition hover:shadow-none hover:translate-x-0 hover:translate-y-0;
  }
  .btn-secondary {
    @apply px-4 py-2 min-w-32 border-clr-black border-2 rounded shadow-rb bg-clr-secondary text-clr-black -translate-x-1 -translate-y-1 transition hover:shadow-none hover:translate-x-0 hover:translate-y-0;
  }

  .btn-success {
    @apply px-4 py-2 min-w-32 border-clr-black border-2 rounded shadow-rb bg-clr-success text-clr-black -translate-x-1 -translate-y-1 transition hover:shadow-none hover:translate-x-0 hover:translate-y-0;
  }

  .btn-alert {
    @apply px-4 py-2 min-w-32 border-clr-black border-2 rounded shadow-rb bg-clr-alert text-clr-black -translate-x-1 -translate-y-1 transition hover:shadow-none hover:translate-x-0 hover:translate-y-0;
  }

  .card {
    @apply max-w-52 bg-clr-white border-2 border-clr-black rounded-md shadow-rb;
  }

  .pagination-container {
    @apply mx-auto flex gap-x-6 list-none;
  }
  .pagination-item {
    @apply px-3 h-8 min-w-8 flex items-center rounded-full text-clr-black text-sm text-center hover:cursor-pointer hover:border hover:border-clr-black;
  }
  .pagination-item.dots {
    @apply hover:bg-transparent hover:cursor-default;
  }
  .pagination-item.active {
    @apply bg-slate-300;
  }
  .pagination-item.disabled {
    @apply pointer-events-none hover:bg-transparent hover:cursor-default;
  }

  .account-layout {
    @apply container md:mx-auto h-full flex gap-x-20;
  }
  .account-sidebar {
    @apply w-1/6 min-w-64 pt-2;
  }
  .account-content {
    @apply w-5/6 py-8;
  }

  .table {
    @apply table-auto border-collapse w-full;
  }
  .table thead th svg {
    @apply inline;
  }
}
