@import "./App.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  :root {
    --text: #2d2d2d;
    --background: #fff;
    --primary: #607d8b;
    --secondary: #faff1c;
    --accent: #ff5722;

    --grey: #4b5563;

    --alert: #ff5252;
    --warning: #ff8b47;
    --success: #3cd39e;

    --shadow: #2d2d2d;
  }
  .dark {
    --text: #fff;
    --background: #2d2d2d;
    --primary: #a001e9;
    --secondary: #e2e600;
    --accent: #e2e600;

    --grey: #4b5563;

    --alert: #ad0000;
    --warning: #b84300;
    --success: #2cc38f;

    --shadow: #fff;
  }
}
