@import "./App.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  :root {
    --text: #09090b;
    --background: #ffffff;
    --primary: #b514fe;
    --secondary: #faff1c;

    --grey: #e3e3e3;

    --alert: #ff5252;
    --warning: #ff8b47;
    --success: #3cd39e;

    --shadow: #09090b;
  }
  .dark {
    --text: #fff;
    --background: #09090b;
    --primary: #a001e9;
    --secondary: #e2e600;

    --grey: #e3e3e3;

    --alert: #ad0000;
    --warning: #b84300;
    --success: #2cc38f;

    --shadow: #ffffff;
  }
}
